/* FavoritesPage.css */

.favorites-page {
    background-color: #1f1f1f;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    margin: 50px auto 0;
  }
  
  .page-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .favorite-movies-list {
    list-style: none;
    padding: 0;
  }
  
  .favorite-movie-item {
    margin: 10px 0;
    padding: 10px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .favorite-movie-item:hover {
    background-color: #444;
    cursor: pointer;
  }
  