/* HomePage.css */

.homepage-content {
    text-align: center;
    padding: 20px;
  }
  
  .homepage-content h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .homepage-content p {
    font-size: 1.2rem;
    color: #555;
  }
  